/* переменные */
:root {
    --bg-team: #F5F4FA;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --hover-focus-color: #2196F3;
    --white-tx-bg-color: #FFFFFF;
    --logo-header-color: #000000;
    --footer-bg-color: #2F303A;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --portfolio-filter-bg-color: #F5F4FA;
    --header-border-color: #ECECEC;
    --header-border: 1px solid #ECECEC;
    --main-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                        0px 1px 1px rgba(0, 0, 0, 0.14),
                        0px 2px 1px rgba(0, 0, 0, 0.2);
    --porfolio-filter-btn-act:  0px 3px 1px rgba(0, 0, 0, 0.1),
                                0px 1px 2px rgba(0, 0, 0, 0.08),
                                0px 2px 2px rgba(0, 0, 0, 0.12);
    --project-border-style: solid #EEEEEE;
   
   
}
/* * {
    outline: 1px solid tomato;
} */
/* Повторяющие стили на странице */
body {
    margin: 0; /* - убирает рамку вокруг body */
    background-color: var(--white-tx-bg-color);
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
/* обнуляем стили браузера по умолчанию */
h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}
/* обнуляем стили браузера у списков */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* глобальный padding для всех секций */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* контейнер для всех секций */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* хедер */
.header {
    background-color: var(--white-tx-bg-color);
    border-bottom: var(--header-border)
}
/* обертка для всех блоков в хедере */
.header-wrapper {
    display: flex;
    align-items: center;
}
/* навигационное меню */
.header-menu {
    display: flex;
    align-items: center;
}
/* общий стиль для лого */
.logo {
    color: var(--hover-focus-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
/* лого в хедере */
.logo-header {
    color: var(--logo-header-color);
}
/* ul для списка меню */
.header-lists {
    display: flex;
    margin-left: 93px;
}
/* Каждый эдемент со списка будет иметь левый margin кроме первого */ 
.header-lists>.header-list + .header-list {
    margin-left: 50px;
}
.header-list>.link {
    display: block; /* - У ссылок не работает вертикальная геометрия, потому им нужно ставить display block */
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--main-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-list>.link:hover,
.header-list>.link:focus {
    color: var(--hover-focus-color);
}
/* Подсветка ссылки активной страницы */
.link.current {
    color: var(--hover-focus-color);
}
.header-contacts {
    display: flex;
    margin-left: auto; /* - контакты отодвигаем в право  */
}
.header-contacts>.header-contact + .header-contact {
    margin-left: 50px;
}
.header-contact>.email,
.header-contact>.phone {
    padding-top: 30px;
    padding-bottom: 30px;
    
    color: var(--second-text-color);
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-contact>.email:hover,
.header-contact>.email:focus,
.header-contact>.phone:hover,
.header-contact>.phone:focus {
    color: var(--hover-focus-color);
}
/* баннер */
.banner {
    background-color: var(--footer-bg-color); /* - оставляем в случае если не загрузится картинка */
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../image/bg/banner.jpg);
    background-repeat: no-repeat; /* - картинку не повторять */
    background-position: center; /* - по центру */
    background-size: cover;
    margin-left: auto; /* - центрирование баннера */
    margin-right: auto; /* - центрирование баннера */
    max-width: 1600px; /* - ширина баннера, растягивать нельзя */
    min-height: 600px;
    text-align: center; /* - если задать это значение, то все элементы внутри секции будут по центру, если их дети display: inline-block */
    padding-top: 200px;
    padding-bottom: 200px;
}
/* заголовок баннера */
.banner-title {
    width: 696px;
    margin: 0 auto;
    color: var(--white-tx-bg-color);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* кнопка - строчно-блочный элемент */
.main-button {
    margin-top: 30px;
    padding: 10px 32px;

    border: none;
    border-radius: 4px;

    color: var(--white-tx-bg-color);
    background-color: var(--hover-focus-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
}
.main-button:hover,
.main-button:focus {
    box-shadow: var(--main-button-shadow)
}

/* Заголовок особенности скрыт */
.peculiarities-title {
    font-size: 0;
}
/* список особенностей */
.peculiarities-lists {
    display: flex;
}
.peculiarities-list {
    width: calc((100% - 90px) / 4); /* - три отступа по 30px */
}
.peculiarities-list::before {
    display: block; /* - ставим, потому, что не работает геометрия */
    content:'';
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    background-image: url(../image/peculiarities/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-style: contain;
    margin-bottom: 30px;
}
.peculiarities-list.icon-clock::before { /* - дополнительные классы для добавления разных иконок */
    background-image: url(../image/peculiarities/clock.svg);
}
.peculiarities-list.icon-notebook::before {
    background-image: url(../image/peculiarities/notebook.svg);
}
.peculiarities-list.icon-astronaut::before {
    background-image: url(../image/peculiarities/astronaut.svg);
}

.peculiarities-list + .peculiarities-list {
    margin-left: 30px;
}

.peculiarities-list>.title {
    font-size: 14px; /* - размер не наследуется от body */
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase
}
.peculiarities-list>.subtitle {
    margin-top: 10px;

    color: var(--second-text-color);
    
    line-height: 1.71;  
}
/* у секции "Чем Занимаемся" отсутствует padding-top */
.doing {
    padding-top: 0;
}
.doing-items {
    display: flex;
    margin-top: 50px;
}
.doing-items>.doing-item + .doing-item {
    margin-left: 30px;
}
/* адаптивная картинка без отступа внизу */
.doing-item> .doing-img{
    display: block;
    min-width: 100%;
    min-height: auto;
}
.doing-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team {
    min-height: 648px;
    background-color: var(--bg-team);
}
.team-cards {
    display: flex;
    margin-top: 50px;
}
.team-card {
    background: var(--white-tx-bg-color);
    
    box-shadow: var(--team-card-shadow);
    border-radius: 0px 0px 4px 4px;
}
.team-cards>.team-card + .team-card {
    margin-left: 30px;
}
.team-cards .card-descr {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-card> .card-img {
    display: block;
    min-width: 100%;
    min-height: auto;
}
.card-descr>.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.card-descr>.subtitle{
    margin-top: 10px;
    color: var(--second-text-color);
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.footer {
    min-height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color)
}
.logo-footer {
    color: var(--white-tx-bg-color);
}
.footer-address {
    margin-top: 20px;
}
.footer-contact {
    font-style: normal;
}
.footer-contact + .footer-contact {
    margin-top: 9px;
}
.footer-addr {
    color: var(--white-tx-bg-color);

}
.footer-email,
.footer-phone {
    color: var(--footer-contact-color);

    text-decoration: none;

    cursor: pointer
}
.footer-email:hover,
.footer-email:focus,
.footer-phone:hover,
.footer-phone:focus {
    color: var(--hover-focus-color)
}
/* portfolio  */
/* Главного заголвка Портфолио нет в макете, потому скрыт */
.portfolio-title {
    font-size: 0;
}
/* блок кнопок */
.portfolio-filters {
    display: flex;
    justify-content: center;
}
.portfolio-filter + .portfolio-filter {
    margin-left: 8px;
}
/* Фильтр меню кнопок портфолио */
.filter-button {
    min-width: 73px; /* - минимальная ширина самой маленько кнопки */
    padding: 6px 22px;
    background-color: var(--portfolio-filter-bg-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    border-radius: 4px;
    border: none;

    cursor: pointer
}
.filter-button.active,
.filter-button:hover,
.filter-button:focus {
    color: var(--white-tx-bg-color);
    background-color: var(--hover-focus-color);
    box-shadow : var(--porfolio-filter-btn-act)
}
/* убраны подчёркивания */ 
.project-link {
    text-decoration: none;
}
.project-descr>.title {
    color: var(--main-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;   
}
.project-descr>.subtitle {
    margin-top: 4px;
    color: var(--second-text-color);

    font-size: 16px;
    line-height: 1.88;
}
/* список проектов */
.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: -30px;
    margin-bottom: -30px;
}
/* карточка проекта */
.portfolio-project {
    width: calc( 100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-project .project-descr {
    padding: 20px 24px;
    border: var(--project-border-style);
    border-width: 0 1px 1px 1px;
}

/* эксперимент с отзывчивым изображением */
.portfolio-project .project-img {
    display: block;
    max-width: 100%;
    height: auto;
}